#welcome {
    hide: true;
}

#signoutbut {
    hide: true;
}

.modal-body {
    overflow-y: auto;
}
   
.tab-no{
    width: 3%;
    }
.tab-uraian{
    width: 20%;
    } 
.keg{
    width: 100%;
    }  
.tab-poin{
    width: 3%;
    }
.tab-jum{
    width: 3%;
    }  
.maincell{
    width: 100%;
    }
.cell {
    text-align: center;
    }
.row-01{
    height: 120px;
    }
.row-02{
    height: 40px;
    }
.umum{
    height: 100px;
    }
.khusus{
    height: 46px;
    }  