#welcome {
    hide: true;
}

#signoutbut {
    hide: true;
}

.modal-body {
    max-height: calc(100vh - 212px); 
    overflow-y: auto;
}
   
.tab-no{
    width: 3%;
    }
.tab-uraian{
    width: 20%;
    } 
.keg{
    width: 100%;
    }  
.tab-poin{
    width: 3%;
    }
.tab-jum{
    width: 3%;
    }  
.maincell{
    width: 100%;
    }
.cell {
    text-align: center;
    }
.row-01{
    height: 120px;
    }
.row-02{
    height: 40px;
    }
.umum{
    height: 100px;
    }
.khusus{
    height: 46px;
    }  

.listobat{
    width: 100%;
    border: 1px solid grey;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aquamarine;
}

.isiborder{
    border: 1px solid black;
    border-radius: 3px;
}

.infoobat{
    font-size: 0.75em;
    font-style: italic;
}

.tambahstafbody{
    padding: 10px 10px 10px 10px;
}

.help-block{
    font-size: 0.75em;
    font-size: italic;
}

.list-group{
    padding: 10px 10px 15px 15px;
}
#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.jumbotron{
    background-color: dodgerblue;
}

.affix {
    top: 0;
    width: 100%;
}

#ft-subtitle{
    font-family: 'Advent Pro'
}

#ft-title {
    font-family: 'Cherry Cream Soda';
    color: #d8ffcc;
    text-shadow: 3px, 3px, grey;
}

body {
    background-color: #b3e6ff;
}

.panel-body{
    background-color:#80ccff;
}
.head-dokter {
    background-color: #42a5f5;
}
.body-dokter {
    background-color: #b3e5fc;
}