<p>Selamat datang, Admin-san</p>

<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div class="panel panel-info">
        <div class="panel-heading text-center">Tambah Staf</div>
        <div class="panelbody tambahstafbody">
            <div class="form-group">
                <label for="">Nama Lengkap</label><br>
                <input type="text" class="form-control text-capitalize" id="namadktr">
                <label for="">Email</label><br>
                <input type="text" class="form-control" id="emaildktr">
                <label for="">Peran</label><br>
                <select name="peran" id="perandktr" class="form-control">
                    <option value="staf">Staf</option>
                    <option value="supervisor">Supervisor</option>
                </select>
                <button class="btn btn-info" id="admbtnsub">Tambah</button>
            </div>
        </div>
    </div>

    
        <div class="panel panel-info">
            <div class="panel-heading text-center">Daftar Staf</div>
            <div class="panel-body table-responsive">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="bg-success">No</th>
                            <th class="bg-success">Nama</th>
                            <th class="bg-success">Email</th>
                            <th class="bg-success">Peran</th>
                            <th class="bg-success">Hapus</th>
                        </tr>
                    </thead>
                    <tbody id="staftab">
                        {{range $m, $n := .Admin.Staff}}
                            <tr>
                                <td class="nourut">{{inc $m}}</td>
                                <td class="text-capitalize">{{$n.NamaLengkap}}</td>
                                <td>{{$n.Email}}</td>
                                <td>{{$n.Peran}}</td>
                                <td><a href="{{$n.LinkID}}" class="btn btn-warning deldok">Hapus</a></td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    
</div>
<div class="col-sm-3"></div>