                    {{with .}}
					<tr>
                        <td id="nourut" class="text-center nourut"></td>
                        <td>{{.TglKunjungan}}</td>
                        <td>{{.NoCM}}</td>
                        <td class="text-capitalize">{{.NamaPasien}}</td>
                        <td class="text-capitalize">{{.Diagnosis}}</td>
                           {{if .IKI}}
			                  <td class="text-center checkmark">&#x2714;</td>
                              <td class="text-center checkmark"></td>
			               {{else}}
			                  <td class="text-center checkmark"></td>
                              <td class="text-center checkmark">&#x2714;</td>
			               {{end}}
			            <td class="text-center">
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                         Pilihan <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li id="link" hidden>{{.LinkID}}</li>
                          <li><a id="editbut" >Edit</a></li>
                          <li><a id="delbut" >Hapus</a></li>
                          <li><a id="tglbut">Ubah Tanggal</a></li>
                          <li class="divider"></li>
                          <li><a id="resepbut" >Buat Resep</a></li>
                          <li><a id="sakitbut" >Buat Surat Sakit</a></li>
                          <li class="divider"></li>
                          <li><a id="detailbut" >Detail Pasien</a></li>
                        </ul>
                      </div>
			            </td>
	                 </tr>

					 {{end}}