                    {{with .}}
					<tr>
                        <td>{{.TglKunjungan}}</td>
                        <td><a href="/getdetail/{{.NoCM}}">{{.NoCM}}</a></td>
                        <td>{{.NamaPasien}}</td>
                        <td>{{.Diagnosis}}</td>
                           {{if .IKI1}}
			                  <td class="text-center checkmark">&#x2714;</td>
                              <td class="text-center checkmark"></td>
			               {{else}}
			                  <td class="text-center checkmark"></td>
                              <td class="text-center checkmark">&#x2714;</td>
			               {{end}}
			            <td class="text-center">
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                         Pilihan <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li id="link" hidden></li>
                          <li><a id="editbut" data-toggle="modal" href="#edit">Edit</a></li>
                          <li><a id="delbut" data-toggle="modal" href="#modhapus">Hapus</a></li>
                          <li><a id="tglbut" data-toggle="modal" href="#modtgl">Ubah Tanggal</a></li>
                          <li class="divider"></li>
                          <li><a id="resepbut" data-toggle="modal" href="#modresep">Buat Resep</a></li>
                          <li><a id="sakitbut" data-toggle="modal" href="#modsakit">Buat Surat Sakit</a></li>
                          <li><a id="detailbut" data-toggle="modal" href="#moddetail">Buat Surat Sakit</a></li>
                        </ul>
                      </div>
			            </td>
	                 </tr>

					 {{end}}