                    {{with .}}
					<tr>
                        <td>{{.TglKunjungan}}</td>
                        <td><a href="/getdetail/{{.NoCM}}">{{.NoCM}}</a></td>
                        <td>{{.NamaPasien}}</td>
                        <td>{{.Diagnosis}}</td>
                           {{if .IKI1}}
			                  <td class="text-center checkmark">&#x2714;</td>
                              <td class="text-center checkmark"></td>
			               {{else}}
			                  <td class="text-center checkmark"></td>
                              <td class="text-center checkmark">&#x2714;</td>
			               {{end}}
			            <td class="text-center">
		                   <div class="btn-group btn-group-xs">
			                  <a href="/entri/edit/{{.LinkID}}" class="btn btn-info" role="button">Edit</a>
				              <a href="/entri/del/{{.LinkID}}" class="btn btn-danger" role="button">Delete</a>
                      <a href="/entri/editdate/{{.LinkID}}" class="btn btn-info" role="button">Ubah Tanggal</a>
			               </div>
			            </td>
	                 </tr>

					 {{end}}