{{define "content"}}
<div class="container-fluid">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="panel panel-info">
      <div class="panel-heading text-center">Daftar Pasien Bulan</div>
      <div class="panel-body table-responsive">
        <table class="table table-bordered table-condensed" id="tabelpasien">
            <thead>
			<tr>
              <th class="bg-success">Tanggal</th>
              <th class="bg-success">No. CM</th>
              <th class="bg-success">Nama Pasien</th>
              <th class="bg-success">Diagnosis</th>
              <th class="bg-success">IKI 1</th>
              <th class="bg-success">IKI 2</th>
			        <th class="bg-success"></th>
            </tr>
			</thead>
			<tbody>
			{{with .Pasien}}
			   {{range $m, $n := .}}
			      {{if $n.NoCM}}
				     <tr>
                        <td>{{$n.TglKunjungan}}</td>
                        <td><a href="/getdetail/{{$n.NoCM}}">{{$n.NoCM}}</a></td>
                        <td class="text-capitalize">{{$n.NamaPasien}}</td>
                        <td class="text-capitalize">{{$n.Diagnosis}}</td>
                           {{if .IKI1}}
			                  <td class="text-center checkmark">&#x2714;</td>
                              <td class="text-center checkmark"></td>
			               {{else}}
			                  <td class="text-center checkmark"></td>
                              <td class="text-center checkmark">&#x2714;</td>
			               {{end}}
			            <td class="text-center">

                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                         Pilihan <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li id="link" hidden>{{$n.LinkID}}</li>
                          <li><a id="editbut" data-toggle="modal" href="#edit">Edit</a></li>
                          <li><a id="delbut" data-toggle="modal" href="#modhapus">Hapus</a></li>
                          <li><a id="tglbut" data-toggle="modal" href="#modtgl">Ubah Tanggal</a></li>
                          <li class="divider"></li>
                          <li><a id="resepbut" data-toggle="modal" href="#modresep">Buat Resep</a></li>
                          <li><a id="sakitbut" data-toggle="modal" href="#modsakit">Buat Surat Sakit</a></li>
                          <li><a id="detailbut" data-toggle="modal" href="#moddetail">Buat Surat Sakit</a></li>
                        </ul>
                      </div>
			            </td>
	                 </tr>
				  {{end}}
			   {{end}}
			   {{end}}
			</tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>



{{end}}