{{define "content"}}

  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="panel panel-info">
      <div class="panel-heading text-center">Daftar Pasien</div>
      <div class="panel-body table-responsive">
        <table class="table table-bordered table-condensed" id="tabelpasien">
            <thead>
			<tr>
              <th class="bg-success">No</th>
              <th class="bg-success">Tanggal</th>
              <th class="bg-success">No. CM</th>
              <th class="bg-success">Nama Pasien</th>
              <th class="bg-success">Diagnosis</th>
              <th class="bg-success">IKI 1</th>
              <th class="bg-success">IKI 2</th>
			        <th class="bg-success"></th>
            </tr>
			</thead>
			<tbody class="dafpts">
			{{with .Pasien}}
			   {{range $m, $n := .}}
			      {{if $n.NoCM}}
				     <tr>
                        <td id="nourut" class="text-center nourut">{{inc $m}}</td>
                        <td>{{$n.TglKunjungan}}</td>
                        <td>{{$n.NoCM}}</td>
                        <td class="text-capitalize content-nama-pasien">{{$n.NamaPasien}}</td>
                        <td class="text-capitalize diag">{{$n.Diagnosis}}</td>
                           {{if .IKI}}
			                  <td class="text-center checkmark">&#x2714;</td>
                              <td class="text-center checkmark"></td>
			               {{else}}
			                  <td class="text-center checkmark"></td>
                              <td class="text-center checkmark">&#x2714;</td>
			               {{end}}
			            <td class="text-center">

                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                         Pilihan <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li id="link" hidden>{{$n.LinkID}}</li>
                          <li><a id="editbut" >Edit</a></li>
                          <li><a id="delbut" >Hapus</a></li>
                          <li><a id="tglbut" >Ubah Tanggal</a></li>
                          <li class="divider"></li>
                          <li><a id="resepbut">Buat Resep</a></li>
                          <li><a id="sakitbut">Buat Surat Sakit</a></li>
                          <li class="divider"></li>
                          <li><a id="detailbut">Detail Pasien</a></li>
                        </ul>
                      </div>
			            </td>
	                 </tr>
				  {{end}}
			   {{end}}
			   {{end}}
			</tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>



{{end}}