{{define "input"}}
<div class="container-fluid">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading text-center">Input Data Pasien</div>
      <div class="panel-body">
        <form action="" method="post" role="form">
          <div class="form-group" id="form1">
            <label for="nocm">No. CM:</label><br>
            <input type="text" name="nocm" id="nocm" class="form-control"><br>
            <span id="datapasien"></span>

          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>

{{end}}