    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                <h4 class="modal-title">Masukkan Data Obat</h4>
            </div>


            <div class="modal-body">
                <div class="form-group">
                    <div class="col-sm-12">
                    <label for="">Merk Dagang Obat</label>
                    <input type="text" name="merk" id="mrkdgng" class="form-control obat text-capitalize" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                    <label for="">Kandungan</label>
                    <input type="text" name="kandungan" id="kand" class="form-control obat text-capitalize" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                    <label for="">Minimal Dosis PerKG Berat Badan PerKali Pemberian</label>
                    <input type="number" name="mindose" id="mindose" class="form-control obat" > 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                    <label for="">Maksimal Dosis PerKG Berat Badan PerKali Pemberian</label>
                    <input type="number" name="maxdose" id="maxdose" class="form-control obat" required>
                    </div>
                </div>
                <div class="form-group tablet">
                    <div class="tablet col-sm-12">
                        <label for="">Sediaan Tablet</label>
                    </div>
                    <div class="tablet col-sm-9">
                        <input type="number" name="tablet" id="tablet" class="form-control obat tablet">
                    </div>
                    <div class="tablet col-sm-3">
                        <button class="btn tablet tambah">Tambah</button>
                    </div>
                </div>

                <div class="form-group sirop">
                    <div class="sirop col-sm-12">
                        <label for="">Sediaan Sirop Per 5 ML</label>
                    </div>
                    <div class="sirop col-sm-9">
                        <input type="number" name="sirop" id="syr" class="form-control obat sirop">
                    </div>
                    <div class="sirop col-sm-3">
                        <button class="btn sirop tambah">Tambah</button>
                    </div>
                
                </div>
                <div class="form-group drop">
                    <div class="drop col-sm-12">
                        <label for="">Sediaan Drop Per 1 ML</label>
                    </div>
                    <div class="drop col-sm-9">
                        <input type="number" name="drop" id="drop" class="form-control obat drop">
                    </div>
                    <div class="drop col-sm-3">
                        <button class="btn drop tambah">Tambah</button>
                    </div>
                
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                    <label for="">Rekomendasi Pemberian</label>
                    <input type="text" name="rekom" id="rekom" class="form-control obat" required>
                    <input type="hidden" name="" id="inputby">
                    <div class="col-sm-12" id="alertmsg"> </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalbutton" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button type="button" id="savdrug" class="btn btn-default">Simpan</button>
            </div>
        </div>
    </div>