    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                <h4 class="modal-title">Buat Resep</h4>
            </div>


            <div class="modal-body">
                <div class="form-group main">
                    <div class="col-sm-6 text-capitalize">Nama Pasien: <span id="rspnamapts"></span></div>
                    <div class="col-sm-6 text-capitalize">Diagnosis: <span id="rspdiag"></span></div>
                    <div class="col-sm-6">Umur: <span id="rspumur"></span></div>
                    <div class="col-sm-6">Berat Badan: <span id="rspbb"></span> kg</div>
                    <div class="col-sm-6 text-capitalize">Alamat: <span id="rspalmt"></span></div>
                    <div class="col-sm-6 text-capitalize">Alergi: <span id="rspalergi"></span></div>
                    <div class="form-group listobat">
                        <div class="col-xs-8">
                            <div class="input-group">
                            <span class="input-group-addon">&#8478;</span>
                            <input type="text" class="form-control isianobat text-capitalize" placeholder="Masukkan nama obat">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-group">
                            <span class="input-group-addon">No.</span>
                            <input type="number" class="form-control viewobat jum-obat" placeholder="Jumlah obat">
                            </div>
                        </div>
                        <div class="col-xs-12 list-group" id="listobat"></div>
                    </div>
                </div>
                <button class="tambahlistobat btn btn-warning">Tambah Obat</button>


                <div class="form-group template" hidden>
                        <div class="col-xs-8">
                            <div class="input-group">
                            <span class="input-group-addon">&#8478;</span>
                            <input type="text" class="form-control isianobat text-capitalize" placeholder="Masukkan nama obat">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-group">
                            <span class="input-group-addon">No.</span>
                            <input type="number" class="form-control viewobat jum-obat" placeholder="Jumlah obat">
                            </div>
                        </div>
                        <div class="col-xs-12 list-group" id="listobat"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalbutton" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button type="button" id="resepbut" class="btn btn-default" hidden>Perlihatkan Resep</button>
            </div>
        </div>
    </div>