<div class="col-sm-3"></div>
<div class="col-sm-6">
  <div class="panel panel-info">
    <div class="panel-heading text-center">Buat Resep</div>
    <div class="panel-body">
      <form action="" method="post" role="form">
        <div class="form-group" id="form1">
                <div class="form-group main">
                        <div class="col-sm-6 text-capitalize">Nama Pasien: <span id="rspnamapts"></span></div>
                        <div class="col-sm-6 text-capitalize">Diagnosis: <span id="rspdiag"></span></div>
                        <div class="col-sm-6">Umur: <span id="rspumur"></span></div>
                        <div class="col-sm-6">Berat Badan: <span id="rspbb"></span> kg</div>
                        <div class="col-sm-6 text-capitalize">Alamat: <span id="rspalmt"></span></div>
                        <div class="col-sm-6 text-capitalize">Alergi: <span id="rspalergi"></span></div>
                        <span class="ptsid" hidden></span>
                        <span class="rspnocm" hidden></span>
                        <div class="col-sm-12 container-fluid form-group listobat">
                            <div class="col-xs-12"><button class="btn btn-default but-puyer">Puyer</button></div>
                            <div class="col-xs-8">
                                <!-- <div class="input-group"> -->
                                    <!-- <span class="input-group-addon">&#8478;</span> -->
                                    <input type="text" name="namaobat" class="form-control isianobat text-capitalize" placeholder="Masukkan nama obat">
                                    <!-- <div class="input-group-btn">
                                        
                                    </div> -->
                                <!-- </div> -->
                            </div>
                            <div class="col-xs-4">
                                <!-- <div class="input-group"> -->
                                <!-- <span class="input-group-addon">No.</span> -->
                                <input type="number" name="jumlah" class="form-control viewobat jum-obat" placeholder="Jumlah obat">
                                <!-- </div> -->
                            </div>
                            <div class="col-xs-12 list-group" id="listobat"></div>
                            <!-- <div class="col-xs-8"></div> -->
                            <div class="col-xs-10">
                                <button class="btn btn-danger del-obat-line pull-right">Hapus Obat</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group container-fluid template" hidden>
                        <div class="col-xs-12"><button class="btn btn-default but-puyer">Puyer</button></div>
                        <div class="col-xs-8">
                            <!-- <div class="input-group"> -->
                                <!-- <span class="input-group-addon">&#8478;</span> -->
                                <input type="text" name="namaobat" class="form-control isianobat text-capitalize" placeholder="Masukkan nama obat">
                                <!-- <div class="input-group-btn">
                                    
                                </div> -->
                            <!-- </div> -->
                        </div>
                        <div class="col-xs-4">
                            <!-- <div class="input-group"> -->
                            <!-- <span class="input-group-addon">No.</span> -->
                            <input type="number" name="jumlah" class="form-control viewobat jum-obat" placeholder="Jumlah obat">
                            <!-- </div> -->
                        </div>
                        <div class="col-xs-12 list-group" id="listobat"></div>
                        <!-- <div class="col-xs-8"></div> -->
                        <div class="col-xs-10">
                            <button class="btn btn-danger del-obat-line pull-right">Hapus Obat</button>
                        </div>
                    </div>
                    <button class="tambahlistobat btn btn-warning pull-left">Tambah Obat</button>
                    <button type="button" id="resepbut" class="btn btn-default pull-right">Perlihatkan Resep</button>                    
        </div>
      </form>
    </div>
  </div>
  <div>
      <form action="/buatresep" method="post" class="hidden-resep" hidden>
          <input class="resep-form-send" id="tok-form" type="text" name="token" hidden>
          <input class="resep-form-send" id="dok-form" type="text" name="dokter" hidden>
          <input class="resep-form-send" id="pts-form" type="text" name="pts" hidden>
          <input class="resep-form-send" id="puyer-form" type="text" name="puyer" hidden>
          <input class="resep-form-send" id="tablet-form" type="text" name="tablet" hidden>
      </form>
  </div>
</div>
<div class="col-sm-3"></div>
