<div class="col-sm-3"></div>
<div class="col-sm-6">
  <div class="panel panel-info">
    <div class="panel-heading text-center">Identitas Pasien</div>
    <div class="panel-body">
      <form action="" method="post" role="form">
        <div class="form-group" id="form1">
                <div class="form-group">
                        <label for="">Nama Pasien</label>
                        <input type="text" name="" id="namapts" class="form-control text-capitalize">
                        <label for="">Diagnosis</label>
                        <input type="text" name="" id="diag" class="form-control text-capitalize">
                        <label for="">Tanggal Lahir</label>
                        <input type="text" name="" id="tgllahir" class="form-control" >
                        <input type="hidden" name="" id="umur">
                        <label for="">Alamat</label>
                        <input type="text" name="" id="almt" class="form-control text-capitalize">
                        <label for="">Berat Badan</label>
                        <input type="number" name="" id="bb" class="form-control text-capitalize">
                        <label for="">Alergi</label>
                        <input type="text" name="" id="alergi" class="form-control text-capitalize">
                    </div>
                    <div class="col-sm-12" id="alertmsgobat"> </div>
                    <button type="button" id="rspnextbut" class="btn btn-default">Selanjutnya</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-sm-3"></div>