    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                <h4 class="modal-title">Masukkan Identitas Pasien</h4>
            </div>


            <div class="modal-body">
                <div class="form-group">
                    <label for="">Nama Pasien</label>
                    <input type="text" name="" id="namapts" class="form-control text-capitalize">
                    <label for="">Diagnosis</label>
                    <input type="text" name="" id="diag" class="form-control text-capitalize">
                    <label for="">Tanggal Lahir</label>
                    <input type="text" name="" id="tgllahir" class="form-control" >
                    <input type="hidden" name="" id="umur">
                    <label for="">Alamat</label>
                    <input type="text" name="" id="almt" class="form-control text-capitalize">
                    <label for="">Berat Badan</label>
                    <input type="number" name="" id="bb" class="form-control text-capitalize">
                    <label for="">Alergi</label>
                    <input type="text" name="" id="alergi" class="form-control text-capitalize">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalbutton" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button type="button" id="rspnextbut" class="btn btn-default">Selanjutnya</button>
            </div>
        </div>
    </div>