<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="" id="residen-fasttrack">Dari Fasttrack</a></li>
            <!-- <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Kondisi IGD Perbulan <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    {{with .Bulan}}
                        {{range .}}
                            <li><a class="bulan-supervisor" href="">{{.}}</a></li>
                        {{end}}
                    {{end}}
                </ul>
            </li> -->
            <li><a href="" id="residen-konsul">Konsulan</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid residen-main">
{{template "residen-content" .}}
</div>
<div class="container-fluid rekam-medik-main"></div>
<script type="text/javascript">
    var refreshResidenPasienList = setInterval(residenPage, 3000);
	function residenPage(){
		var email = $("#email").val()
		$.post("get-residen-pasien-list", {
			token: localStorage.getItem("token"),
			email: email
		}, function(data){
			var js = JSON.parse(data)
			$("tbody#residen-list-pasien").prepend(js.script)
			console.log(js.script)
			console.log("selesai")
			refreshNumberResidenList()
		})
	}

	var refreshNumberResidenList = function(){
		
	$("tr").find("#residen-table-nourut").each(function(index, elem){
			num = index + 1;
			$(elem).html(num)
		})
	}
	var refreshAll = setInterval(refreshAllResidenPage, 600000)
	function refreshAllResidenPage (){
		console.log("this shit is fired!")
		var email = $("#email").val()
		$.post("get-residen-refresh-pasien-list", {
			token:localStorage.getItem("token"),
			email: email
		}, function(data){
			var js = JSON.parse(data)
			$("tbody#residen-list-pasien").html(js.script)
		})
	}

	$("body").on("click", ".res-but-rekam-medik", function(e){
		// clearInterval(refreshResidenPasienList)
		$(".residen-main").hide()
		e.preventDefault()
		var link = $(this).data("link")
		// console.log("Link adalah: " + link)
		$.post("get-rm-kun", {
			token: localStorage.getItem("token"),
			link: link
		}, function(data){
			var js = JSON.parse(data)
			$(".rekam-medik-main").html(js.script)
		})
	})

	$("#residen-fasttrack").click(function(e){
		e.preventDefault()
		$(".residen-main").show()
		$(".rekam-medik-main").html("")
	})
</script>