{{define "residen-content"}}
<div class="container-fluid residen-content-dari-fasttrack">
        <div class="panel panel-info">
            <div class="panel-heading text-center">Daftar Pasien</div>
            <div class="panel-body table-responsive">
                <table class="table table-bordered table-condensed" id="residen-table-pasien">
                    <thead>
                        <th class="bg-success">No</th>
                        <th class="bg-success">Tanggal/Jam</th>
                        <th class="bg-success">No.CM</th>
                        <th class="bg-success">Nama Pasien</th>
                        <th class="bg-success">Kecurigaan</th>
                        <th class="bg-success"></th>
                    </thead>
                    <tbody id="residen-list-pasien">
                        {{with .Pasien}}
                            {{range $m, $n := .}}
                                {{if $n.NoCM}}
                                    <tr>
                                        <td id="residen-table-nourut">{{inc $m}}</td>
                                        <td>{{tgl $n.TglAsli}}/{{jam $n.TglAsli}}</td>
                                        <td>{{$n.NoCM}}</td>
                                        <td class="text-capitalize">{{$n.NamaPasien}}</td>
                                        <td class="text-capitalize">{{$n.Diagnosis}}</td>
                                        <td><a href="" data-link="{{$n.LinkID}}" class="btn btn-default res-but-rekam-medik">Lihat RM</a></td>
                                    </tr>
                                {{end}}
                            {{end}}
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{end}}