    
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <div class="panel panel-info">
        <div class="panel-heading text-center tabtitle">Tabel IKI</div>
        <div class="panel-body table-responsive">
        <table class="table table-bordered table-condensed maintable">
        <tr>
            <th class="num bg-success">No</th>
            <th class="uraian bg-success">Uraian</th>
            <th class="poin bg-success">Poin</th>
            <th class="keg bg-success">
                <table>
                    <tr>
                        <th class="text-center">Jumlah Kegiatan Harian</th>
                    </tr>
                    <tr class="maxedwidth">
                        <td>
                            <table class="smallblock">
                                <tr>
                                    <td class="smallcell"> 1</td>
                                    <td class="smallcell"> 2</td>
                                    <td class="smallcell"> 3</td>
                                    <td class="smallcell"> 4</td>
                                    <td class="smallcell"> 5</td>
                                    <td class="smallcell"> 6</td>
                                    <td class="smallcell"> 7</td>
                                    <td class="smallcell"> 8</td>
                                    <td class="smallcell"> 9</td>
                                    <td class="smallcell"> 10</td>
                                    <td class="smallcell"> 11</td>
                                    <td class="smallcell"> 12</td>
                                    <td class="smallcell"> 13</td>
                                    <td class="smallcell"> 14</td>
                                    <td class="smallcell"> 15</td>
                                    <td class="smallcell"> 16</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </th>
            <th class="jmlend bg-success">Jumlah Poin</th>
        </tr>
        <tr>
            <td class="num">1</td>
            <td class="uraian">Melakukan pelayanan medik umum (per pasien : pemeriksaan rawat jalan, IGD, visite rawat inap, tim medis diskusi</td>
            <td class="poin">0,0032</td>
            <td class="keg">
                <table class="smallblock">
                    <tr>
            {{with .}}
                {{range $m, $n := .}}
                    {{if lt $m 16}}
                        <td class="smallcell jml" id="f-1-{{.Tanggal}}"> {{.SumIKI1}} </td>
                    {{end}}
                {{end}}
            {{end}}
                    </tr>
                </table>
            </td>
            <td class="jmlend"> <span id="jmlpoin-1-1"></span></td>
        </tr>
        <tr>
            <td class="num">2</td>
            <td class="uraian">Melakukan tindakan medik umum tingkat sederhana (per tindakan)</td>
            <td class="poin">0,01</td>
            <td class="keg">
                <table class="smallblock">
                    <tr>
            {{with .}}
                {{range $m, $n := .}}
                        {{if lt $m 16}}
                        <td class="smallcell jml" id="f-2-{{.Tanggal}}"> {{.SumIKI2}} </td>
                        {{end}}
                    {{end}}
                {{end}}
                    </tr>
                </table>
            </td>
            <td class="jmlend"> <span id="jmlpoin-1-2"></span></td>
        </tr>
    </table>

    <table class="table maintable table-bordered table-condensed">
        <tr>
            <th class="num bg-success">No</th>
            <th class="uraian bg-success">Uraian</th>
            <th class="poin bg-success">Poin</th>
            <th class="keg bg-success">
                <table>
                    <tr>
                        <th class="text-center">Jumlah Kegiatan</th>
                    </tr>
                    <tr class="maxedwidth">
                        <td>
                            <table class="smallblock">
                                <tr>
                                    <td class="smallcell" > 17</td>
                                    <td class="smallcell" > 18</td>
                                    <td class="smallcell" > 19</td>
                                    <td class="smallcell" > 20</td>
                                    <td class="smallcell" > 21</td>
                                    <td class="smallcell" > 22</td>
                                    <td class="smallcell" > 23</td>
                                    <td class="smallcell" > 24</td>
                                    <td class="smallcell" > 25</td>
                                    <td class="smallcell" > 26</td>
                                    <td class="smallcell" > 27</td>
                                    <td class="smallcell" > 28</td>
                                    <td class="smallcell" > 29</td>
                                    <td class="smallcell" > 30</td>
                                    <td class="smallcell" > 31</td>
                                    <td class="smallcell" > Jumlah Poin</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </th>
            <th class="jmlend bg-success">Jumlah X Poin</th>
        </tr>
        <tr>
            <td class="num">1</td>
            <td class="uraian">Melakukan pelayanan medik umum (per pasien : pemeriksaan rawat jalan, IGD, visite rawat inap, tim medis diskusi</td>
            <td class="poin">0,0032</td>
            <td class="keg">
                <table class="smallblock">
                    <tr>
            {{with .}}
                {{range $m, $n := .}}
                        {{if ge $m 16}}
                        <td class="smallcell jml" id="f-1-{{.Tanggal}}">{{.SumIKI1}}</td>
                        {{end}}
                    {{end}}
                {{end}}
                        <td class="smallcell" id="jmlpoin-2-1"></td>
                    </tr>
                </table>
            </td>
            <td class="jmlend">
                <span id="jmlxpoin1"></span>
            </td>
        </tr>
        <tr>
            <td class="num">2</td>
            <td class="uraian">Melakukan tindakan medik umum tingkat sederhana (per tindakan)</td>
            <td class="poin">0,01</td>
            <td class="keg">
                <table class="smallblock">
                    <tr>
            {{with .}}
                {{range $m, $n := .}}
                        {{if ge $m 16}}
                        <td class="smallcell jml" id="f-2-{{.Tanggal}}">{{.SumIKI2}}</td>
                        {{end}}
                    {{end}}
                {{end}}
                        <td class="smallcell" id="jmlpoin-2-2"></td>
                    </tr>
                </table>
            </td>
            <td class="jmlend"> <span id="jmlxpoin2"></span></td>
        </tr>
    </table>
        </div>
    </div>
</div>
<div class="col-sm-1"></div>