    
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <div class="panel panel-info">
        <div class="panel-heading text-center tabtitle">Tabel IKI</div>
        <div class="panel-body table-responsive">
<table class="table table-bordered table-condensed maintable">
    <tr>
        <td class="tab-no">
            <table class="table tab-inside">
                <tr>
                    <th class="umum text-center bg-success">No</th>
                </tr>
                <tr>
                    <td class="row-01 text-center">1</td>
                </tr>
                <tr>
                    <td class="row-02 text-center">2</td>
                </tr>
            </table>
        </td>
        <td class="tab-uraian">
            <table class="table tab-inside">
                <tr>
                    <th class="umum text-center bg-success">Uraian</th>
                </tr>
                <tr>
                    <td class="row-01">Melakukan pelayanan medik umum (per pasien : pemeriksaan rawat jalan, IGD, visite rawat inap, tim medis diskusi	</td>
                </tr>
                <tr>
                    <td class="row-02">Melakukan tindakan medik umum tingkat sederhana (per tindakan)</td>
                </tr>
            </table>
        </td>
        <td class="tab-poin">
            <table class="table tab-inside">
                <tr>
                    <th class="umum text-center bg-success">Poin</th>
                </tr>
                <tr>
                    <td class="row-01">0,0032</td>
                </tr>
                <tr>
                    <td class="row-02">0,01</td>
                </tr>
            </table>
        </td>
        <td class="tab-keg">
            <table class="table keg tab-inside">
                <tr>
                    <th class="khusus text-center bg-success">Jumlah Kegiatan Harian</th>
                </tr>
                <tr>
                    <td>
                        <table class="table maincell">
                            <tr>
                                <th class="cell khusus bg-success"> 1</th>
                                <th class="cell khusus bg-success"> 2</th>
                                <th class="cell khusus bg-success"> 3</th>
                                <th class="cell khusus bg-success"> 4</th>
                                <th class="cell khusus bg-success"> 5</th>
                                <th class="cell khusus bg-success"> 6</th>
                                <th class="cell khusus bg-success"> 7</th>
                                <th class="cell khusus bg-success"> 8</th>
                                <th class="cell khusus bg-success"> 9</th>
                                <th class="cell khusus bg-success"> 10</th>
                                <th class="cell khusus bg-success"> 11</th>
                                <th class="cell khusus bg-success"> 12</th>
                                <th class="cell khusus bg-success"> 13</th>
                                <th class="cell khusus bg-success"> 14</th>
                                <th class="cell khusus bg-success"> 15</th>
                                <th class="cell khusus bg-success"> 16</th>
                            </tr>
                            <tr class="row-01">
                            {{with .}}
                                {{range $m, $n := .}}
                                    {{if lt $m 16}}
                                        <td class="cell jml iki1">{{.SumIKI1}} </td>
                                    {{end}}
                                {{end}}
                            {{end}}
                            </tr>
                            <tr class="row-02">
                            {{with .}}
                                {{range $m, $n := .}}
                                    {{if lt $m 16}}
                                        <td class="cell jml">{{.SumIKI2}}</td>
                                    {{end}}
                                {{end}}
                            {{end}}
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td class="tab-jum">
            <table class="table tab-inside">
                <tr>
                    <th class="umum text-center bg-success">Jumlah Poin</th>
                </tr>
                <tr>
                    <td class="row-01"><span id="jmlpoin-1-1"></td>
                </tr>
                <tr>
                    <td class="row-02"><span id="jmlpoin-1-2"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div></div>

<table class="table table-bordered table-condensed maintable">
    <tr>
        <td class="tab-no">
            <table class="table tab-inside">
                <tr>
                    <th class="umum text-center bg-success">No</th>
                </tr>
                <tr>
                    <td class="row-01 text-center">1</td>
                </tr>
                <tr>
                    <td class="row-02 text-center">2</td>
                </tr>
            </table>
        </td>
        <td class="tab-uraian">
            <table class="table">
                <tr>
                    <th class="umum text-center bg-success">Uraian</th>
                </tr>
                <tr>
                    <td class="row-01">Melakukan pelayanan medik umum (per pasien : pemeriksaan rawat jalan, IGD, visite rawat inap, tim medis diskusi	</td>
                </tr>
                <tr>
                    <td class="row-02">Melakukan tindakan medik umum tingkat sederhana (per tindakan)</td>
                </tr>
            </table>
        </td>
        <td class="tab-poin">
            <table class="table tab-inside">
                <tr>
                    <th class="umum text-center bg-success">Poin</th>
                </tr>
                <tr>
                    <td class="row-01">0,0032</td>
                </tr>
                <tr>
                    <td class="row-02">0,01</td>
                </tr>
            </table>
        </td>
        <td class="tab-keg">
            <table class="table keg tab-inside">
                <tr>
                    <th class="khusus text-center bg-success">Jumlah Kegiatan Harian</th>
                </tr>
                <tr>
                    <td>
                        <table class="table maincell">
                            <tr>
                                <th class="cell khusus bg-success"> 17</th>
                                <th class="cell khusus bg-success"> 18</th>
                                <th class="cell khusus bg-success"> 19</th>
                                <th class="cell khusus bg-success"> 20</th>
                                <th class="cell khusus bg-success"> 21</th>
                                <th class="cell khusus bg-success"> 22</th>
                                <th class="cell khusus bg-success"> 23</th>
                                <th class="cell khusus bg-success"> 24</th>
                                <th class="cell khusus bg-success"> 25</th>
                                <th class="cell khusus bg-success"> 26</th>
                                <th class="cell khusus bg-success"> 27</th>
                                <th class="cell khusus bg-success"> 28</th>
                                <th class="cell khusus bg-success"> 29</th>
                                <th class="cell khusus bg-success"> 30</th>
                                <th class="cell khusus bg-success"> 31</th>
                                <th class="cell khusus bg-success">Jumlah Poin</th>
                            </tr>
                            <tr class="row-01">
                                {{with .}}
                                    {{range $m, $n := .}}
                                        {{if ge $m 16}}
                                            <td class="cell jml iki1">{{.SumIKI1}}</td>
                                        {{end}}
                                    {{end}}
                                {{end}}
                                <td class="cell"><span id="jmlpoin-2-1"></span></td>
                            </tr>
                            <tr class="row-02">
                                {{with .}}
                                    {{range $m, $n := .}}
                                        {{if ge $m 16}}
                                            <td class="cell jml">{{.SumIKI2}}</td>
                                        {{end}}
                                    {{end}}
                                {{end}}
                                <td class="cell"><span id="jmlpoin-2-2"></span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td class="tab-jum">
            <table class="table tab-inside">
                <tr>
                    <th class="umum text-center bg-success">Jumlah Poin</th>
                </tr>
                <tr>
                    <td class="row-01"><span id="jmlxpoin1"></span></td>
                </tr>
                <tr>
                    <td class="row-02"><span id="jmlxpoin2"></span></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
        </div>
    </div>
</div>
<div class="col-sm-1"></div> <br>
