<p class="infoobat">Rekomendasi: {{.Rekomendasi -}}, Sediaan: {{.Kemasan}} {{range $m, $n := .Sediaan}} {{$n}} {{end}} {{.Satuan}} {{if .Dosis}}, Dosis: {{.Dosis}} {{end}} <a id="editobat" href="{{.Link}}">Edit</a></p>
<form action="" class="form-group row form-list-obat">
{{if eq .Kemasan "tablet"}}
<div class="col-xs-12">
    <div class="input-group">
    <span class="input-group-addon">&int;</span>
    <input type="text" name="instruksi" class="form-control viewobat instruksi" placeholder="Instruksi pemberian">
    </div>
</div>
<div class="col-xs-12">
    <div class="input-group">
    <span class="input-group-addon">Keterangan</span>
    <input name="keterangan" class="form-control viewobat keterangan" type="text" id="" placeholder="Keterangan">
    </div>
    <span class="help-block">Sebelum makan, setelah makan, jika diperlukan</span>
</div>

{{else if eq .Kemasan "sirup"}}
<div class="col-xs-12">
    <div class="input-group">
    <span class="input-group-addon">&int;</span>
    <input type="text" name="instruksi" class="form-control viewobat instruksi" placeholder="Instruksi pemberian">
    </div>
</div>
<div class="col-xs-12">
    <div class="input-group">
    <span class="input-group-addon">Keterangan</span>
    <input name="keterangan" class="form-control viewobat keterangan" type="text"id="" placeholder="Keterangan">
    </div>
    <span class="help-block">Sebelum makan, setelah makan, jika diperlukan</span>
</div>
{{else}}
<div class="col-xs-12">
    <div class="input-group">
    <span class="input-group-addon">&int;</span>
    <input type="text" name="instruksi" class="form-control viewobat instruksi" placeholder="Instruksi pemberian">
    </div>
</div>
<div class="col-xs-12">
    <div class="input-group">
    <span class="input-group-addon">Keterangan</span>
    <input class="form-control viewobat keterangan" type="text" name="keterangan" id="" placeholder="Keterangan">
    </div>
    <span class="help-block">Sebelum makan, setelah makan, jika diperlukan</span>
</div>
{{end}}
</form>